
.View.Disgraced {}

.View.Disgraced .Content {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  margin: auto;
  padding: 20px;
  width: 460px;

  color: #ffffff;

  background: rgba(0, 0, 0, 0.6);

  transform: translate3d(100%, 0, 0);

  transition: transform 1000ms cubic-bezier(.35,.6,.03,1);
}

.View.Disgraced .Content::-webkit-scrollbar {
  width: 8px;
  margin: 0;
  padding: 0;
  outline: none;
}

.View.Disgraced .Content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  margin: 0;
  padding: 0;
  transition: background 250ms;
}

.View.Disgraced .Content::-webkit-scrollbar-thumb {
  background: rgba(245, 166, 35, 0.9);
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: background 250ms;
}

.View.Disgraced.sub .Content {
  transform: translate3d(0, 0, 0);
}

.View.Disgraced .Content.hide {
  transform: translate3d(100%, 0, 0);
}

.View.Disgraced .Content h2 {
  margin: 0 auto 20px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #F5a623;
}

.View.Disgraced .Content p {
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.View.Disgraced .Content a {
  text-decoration: none;
  font-weight: 700;
  color: #F5a623;

  transition: color 200ms;
}

.View.Disgraced .Content a:hover {
  font-weight: 700;
  color: #FFFFFF;
}
