
img.Image {
  display: block;

  opacity: 1;
  transition: opacity 5000ms cubic-bezier(.35,.6,.03,1);
}

img.Image.loading {
  opacity: 0;
}

img.Image.loaded {
  opacity: 1;
}

.hide img.Image,
img.Image.hide {
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
  opacity: 0;
}
