
.elefant-logo {
  display: block;
  width: 130px;
  height: 130px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  margin: auto;

  transition: opacity 2000ms cubic-bezier(.35,.6,.03,1);
}

.elefant-logo.letters {
  width: 260px;
}

.elefant-logo.hide {
  opacity: 0;
  transition-duration: 250ms;
}
