
.BackgroundImages-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background: #000;
}

.BackgroundImages-wrap img {
  display: block;

  transition: opacity 5000ms cubic-bezier(.35,.6,.03,1);
}

.BackgroundImages-wrap.loading img {
  opacity: 0;
}

.BackgroundImages-wrap.loaded img {
  opacity: 1;
}
