@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700|Roboto+Slab:400,700');

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Overpass', sans-serif;

  .serif {
    font-family: 'Roboto Slab', serif;
  }
}
